
* {
  font-family: 'Gowun Dodum', sans-serif;
  padding: 0;
  margin: 0;
  color: rgb(0, 0, 0);
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: lightgray;
}

#content {
  width: 75%;
  height: 100%;
  float: left;
  padding-left: 160px;
  padding-top: 230px;
}

#content .text {
  font-size: 50px;
  font-weight: 900;
}

#content .text1 {
  font-size: 20px;
}

#major {
  width: 75%;
  height: 100%;
  float: left;
  padding-left: 130px;
  padding-top: 150px;
}

#major2 {
  width: 75%;
  height: 100%;
  float: left;
  padding-left: 0px;
  padding-top: 0px;
}

#major .mt{
  font-size:30px;
}

#major2 .mt{
  font-size:30px;
}

#major .mt1 {
  font-size:15px;
}

#project {
  width: 75%;
  height: 100%;
  float: left;
  padding-left: 130px;
  padding-top: 150px;
}

#project .pt{
  font-size:30px;
}

#future {
  width: 75%;
  height: 100%;
  float: left;
  padding-left: 130px;
  padding-top: 150px;
  line-height: 50px;
}

#future .ft{
  font-size:30px;
}

#future .ft1{
  font-size:15px;
}

#contact {
  font-size: 15px;
  opacity: 0.5;
  font-style: italic;
}

footer {
  font-size:10px;
  opacity: 0.8;
  font-style:bold;
}

#menu {
  width: 25%;
  height: 100%;
  float: right;
  color: black;
  padding-top: 17%;
  box-shadow: 0 1px 3px gray;
  background: rgb(160, 150, 150);
  border: 0;
  height: 100vh;
  line-height: 50px;
  text-align: center;
  position: fixed;
  left: 75%;
}

#menu h3:hover {
  font-size: 1.0em;
  opacity: 1;
  text-shadow: 0.7px 0.7px 0.7px #000;
}

#section1 .text{
  font-size:30px;
}

/*for mobile*/
[class*="col-"] {
  width: 100%
}

@media only screen and (min-width:600px) {
  .col-t-1 {
    width: 8.33%;
  }

  .col-t-2 {
    width: 16.66%;
  }

  .col-t-3 {
    width: 25%;
  }

  .col-t-4 {
    width: 33.33%;
  }

  .col-t-5 {
    width: 41.66%;
  }

  .col-t-6 {
    width: 50%;
  }

  .col-t-7 {
    width: 58.33%;
  }

  .col-t-8 {
    width: 66.66%;
  }

  .col-t-9 {
    width: 75%;
  }

  .col-t-10 {
    width: 83.33%;
  }

  .col-t-11 {
    width: 91.66%;
  }

  .col-t-12 {
    width: 100%;
  }
}

@media only screen and (min-width:768px) {
  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }
}
